[Unit]
Description=Streamlit app

[Service]
Type=simple
ExecStart=/home/ec2-user/svc/ui_wrap.sh
User=ec2-user
Group=ec2-user
WorkingDirectory=/home/ec2-user/svc
Restart=always

[Install]
WantedBy=multi-user.target
